.atlas-body {
    margin: 5px;
    padding: 5px;
    top: 100px;
    position: absolute;
    width: 97%;
    height: 85%;
    z-index: -3;
}

.atlas-canvas {
    margin: 5px;
    width: 97%;
    height: 97%;
    z-index: -2;
    overflow: hidden;
}

.atlas-container {
    margin: 5px;
    width: 97%;
    height: 97%;
    position: absolute;
    overflow: hidden;
}

.atlas-summary {
    display: none;
    margin: 5px;
    width: 97%;
    height: 97%;
    position: absolute;
    overflow: hidden;
}

.atlas-details {
    display: none;
    margin: 5px;
    width: 97%;
    height: 97%;
    position: absolute;
    overflow: hidden;
}

.atlas-map {
    position: absolute;
    z-index: 10;

    border: 1px solid #87cefa;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    -webkit-transition: opacity 1s;
    -webkit-transition: height 1s;
    -webkit-transition: width 1s;

    -moz-transition: opacity 1s;
    -moz-transition: height 1s;
    -moz-transition: width 1s;

    -ms-transition: opacity 1s;
    -ms-transition: height 1s;
    -ms-transition: width 1s;

    -o-transition: opacity 1s;
    -o-transition: height 1s;
    -o-transition: width 1s;

    transition: opacity 1s;
    transition: height 1s;
    transition: width 1s;
}

.atlas-map label {
    margin-top: 5px;
    float: left;
}

.atlas-map.small {
    width: 200px;
    height: 200px;
}

.atlas-map.medium {
    width: 250px;
    height: 250px;
}

.atlas-map.big {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.atlas-map:not(.big) {
    z-index: 100;
}

.showing-border {
    border: 1px solid black;
}

.showing-border-dotted {
    border: 1px dotted black;
}

.showing-border-dashed {
    border: 1px dashed black;
}

.cancer-items {
    left: 100px;
    position: absolute;
}

.gene-items {
    top: 100px;
    width: 250px;
}

#map-aberrations {
    top: 50px;
    left: 300px;
}

#map-features {
    top: 40px;
    left: 900px;
}

#map-features.small {
    width: 300px;
    height: 250px;
}

#map-associations {
    top: 500px;
    left: 550px;
}

#map-literature {
    float: left;
    top: 400px;
    left: 50px;
}

#map-clinical {
    top: 400px;
    left: 1000px;
}