<div class="row">
    <div class="span5">{{text}}</div>
</div>
        <hr/>
<div class="row">
    <div class="span1 nav-header">Links</div>
    <ul class="nav nav-list span4">
        {{#each links}}
        <li><a href="{{url}}" target="_blank">{{label}}</a></li>
        {{/each}}
    </ul>
</div>
