<div>
    <ul class="atlas-navigator nav nav-list">
        <li><a href="#" onclick="return false;" class="zoom-home"> <i class="icon-home"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="zoom-in"> <i class="icon-zoom-in"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="zoom-out"> <i class="icon-zoom-out"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="resize-item"> <i class="icon-resize-full"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="refresh-loaded"> <i class="icon-refresh"/></i> </a></li>
    </ul>

    <ul class="nav nav-pills cancer-selector"></ul>

    <ul class="nav nav-pills pull-right maps-n-genes">
        <li class="dropdown">
            <button class="maps-btn dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Maps</button>
            <ul class="dropdown-menu maps-selector"></ul>
        </li>
        <li class="dropdown">
            <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Genes</button>
            <ul class="dropdown-menu gene-selector">
                <li><a href="#" onclick="return false;" class="item-remover" data-id="KRAS">KRAS <i class="icon-trash"></i> </a></li>
                <li><a href="#" onclick="return false;" class="item-remover" data-id="TP53">TP53 <i class="icon-trash"></i> </a></li>
            </ul>
        </li>
        <li>
            <input class="genes-typeahead" type="text" placeholder="Add a gene..."/>
        </li>
    </ul>
</div>

<div class="atlas-body">
    <div class="atlas-canvas">
        <div class="atlas-zoom">
        </div>
    </div>
</div>