<style>
    body {
        background-color: #E6E5E6;
        background-image: url(https://www.systemsbiology.org/sites/all/themes/isb/images/bg.png);
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: initial;
    }
</style>
<div>
    <ul class="atlas-navigator nav nav-list">
        <li><a href="#" onclick="return false;" class="zoom-home" rel="toolbar" title="Reset Zoom Level"> <i class="icon-home"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="zoom-in" rel="toolbar" title="Zoom In"> <i class="icon-zoom-in"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="zoom-out" rel="toolbar" title="Zoom Out"> <i class="icon-zoom-out"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="resize-item" rel="toolbar" title="Resize Map"> <i class="icon-resize-full"/></i> </a></li>
        <li><a href="#" onclick="return false;" class="refresh-loaded" rel="toolbar" title="Refresh Map Data"> <i class="icon-refresh"/></i> </a></li>
    </ul>

    <ul class="nav nav-pills cancer-selector well" style="display: none;"></ul>

    <ul class="nav nav-pills pull-right maps-n-genes">
        <li>
            <button class="cancers-btn btn btn-success" type="button">Tumor Types</button>
        </li>
        <li class="dropdown">
            <button class="maps-btn dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Maps</button>
            <ul class="dropdown-menu maps-selector"></ul>
        </li>
        <li class="dropdown">
            <button class="dropdown-toggle btn btn-success" data-toggle="dropdown" type="button">Genes</button>
            <ul class="dropdown-menu gene-selector">
                <li><a href="#" onclick="return false;" class="item-remover" data-id="KRAS">KRAS <i class="icon-trash"></i> </a></li>
                <li><a href="#" onclick="return false;" class="item-remover" data-id="TP53">TP53 <i class="icon-trash"></i> </a></li>
            </ul>
        </li>
        <li>
            <input class="genes-typeahead" type="text" placeholder="Add a gene..."/>
        </li>
    </ul>
</div>

<div class="atlas-body">
    <div class="atlas-canvas">
        <div class="atlas-zoom">
        </div>
    </div>
</div>