<div class="span12">
<div class="row">
<div class="span9">
<div class="scat-container" style="width: 1000px; height: 400px;">
</div>
<div class="pc-container parcoords" style="width: 1000px; height: 300px;">
</div>
</div>
<div class="span3" style="font-family: Ubuntu, Helvetica, sans-serif; font-size: 11px;">
<div class="case-name" style="font-size: 14px;">
Click on a circle to view top features.
</div>
<div class="admix-output"></div>
<div class="branch-output" style="overflow-y: scroll; height: 350px">
</div>
<input type="text" class="feature-search" placeholder="Find a feature..."></input>
<br/>
<div class="pathway-output">
</div>
<div >
Feature True:<br/>
<div class="true-output">
</div><br/>
Feature False:<br/>
<div class="false-output">
</div>
</div>
</div>

</div>	
</div>

