<div class="gene-list-view">
    <div class="row-fluid">
        <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Gene List <b class="caret"></b></a>
                <ul class="dropdown-menu gene-lists unstyled">
                    <li><a href="#" onclick="return false;" class="new-list">New List</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
        <form class="form-horizontal">
            <label class="control-label">Label</label>
            <div class="controls">
                <input class="genelist-label editors" type="text" placeholder="Name for this list...">
            </div>
            <br/>

            <label class="control-label">Genes in List</label>
            <div class="controls">
                <ul class="gene-list-members sortable_list well nav navlist"></ul>
            </div>

            <label class="control-label" for="inputTypeahead">Add Gene</label>
            <div class="controls">
                <input id="inputTypeahead" class="genes-typeahead editors" type="text" placeholder="Type a gene name...">
            </div>

            <br/>
            <div class="controls">
                <button class="btn save-list editors">Save</button>
                <button class="btn select-list">Select</button>
            </div>
        </form>
    </div>
</div>