<div class="gene-list-view">
    <ul class="nav nav-pills">
      <li><button class="new-list">New List...</button></li>
      <li><button class="save-list editors">Save</button></li>
    </ul>
    <div class="row-fluid">
        <div class="span4 well">
            <ul class="gene-lists nav navlist"></ul>
        </div>
        <div class="span8">
            <label>Label</label>
            <input class="genelist-label editors" type="text" placeholder="Name for this list...">
            <label>Add Gene</label>
            <input class="genes-typeahead editors" type="text" placeholder="Type a gene name...">
            <label>Genes in List</label>
            <ul class="gene-list-members sortable_list well nav navlist"></ul>
        </div>
    </div>
</div>