<div class="span5 well">
    <ul class="gene-lists nav navlist">
    </ul>
</div>
<div class="span5">
    <a href="#" class="new-gene-list">New List...</a>
    <input class="genelist-label" type="text">
    <ul class="gene-list-members sortable_list nav navlist"></ul>
    <a href="#" class="save-gene-list">Save</a>
    <span class="gene-list-trash"><i class="icon-trash"></i></span>
    <hr/>
    <label>Add Gene</label>
    <input class="genes-typeahead" type="text">
    <button class="addto-gene-list">+</button>
</div>
