<div class="graph-container span9"></div>
<div class="span3">
    <div class="filter-container parcoords" style="height:300px"></div>
    <div class="graph-controls well" style="margin-top: 30px;"></div>
</div>
