<div class="row-fluid">
    <input id="inputTypeahead" class="span2 genes-typeahead" type="text" placeholder="Type a gene name..."/>
    <ul class="span8 offset2 nav nav-pills cancer-selector"></ul>
</div>

<div class="vis-container">{{title}}</div>