<div class="oncovis-container span9"></div>
<div class="oncovis-controls span3 well">
    <h4>Controls</h4>
    <hr/>

    <h5>Bar Height</h5>
    <div class="slider_barheight"></div>

    <h5>Row Spacing</h5>
    <div class="slider_rowspacing"></div>

    <h5>Bar Width</h5>
    <div class="slider_barwidth"></div>

    <h5>Bar Spacing</h5>
    <div class="slider_barspacing"></div>

    <h5>Cluster Spacing</h5>
    <div class="slider_clusterspacing"></div>

    <h5>Label Font Size</h5>
    <div class="slider_fontsize"></div>

    <hr/>
    <button class="btn reset-sliders">Reset</button>
</div>

