<ul class="nav nav-pills">
    <li class="dropdown">
        <a href="#oncovis-modal" onclick="return false;" role="button" data-toggle="modal">Controls</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gene List<b class="caret"></b></a>
        <ul class="dropdown-menu genelist-canned">
            <li><a href="#genelist-modal" onclick="return false;" role="button" data-toggle="modal">Manage...</a></li>
            <li class="divider"></li>
            <li class="nav-header">Recent...</li>
        </ul>
    </li>
</ul>

<div class="oncovis-container"></div>

<div id="genelist-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Gene Lists</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="oncovis-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Controls</h3>
    </div>
    <div class="modal-body">
        <h5>Bar Height</h5>
        <div class="slider_barheight"></div>

        <h5>Row Spacing</h5>
        <div class="slider_rowspacing"></div>

        <h5>Bar Width</h5>
        <div class="slider_barwidth"></div>

        <h5>Bar Spacing</h5>
        <div class="slider_barspacing"></div>

        <h5>Cluster Spacing</h5>
        <div class="slider_clusterspacing"></div>

        <h5>Label Font Size</h5>
        <div class="slider_fontsize"></div>

        <hr/>
        <button class="btn reset-sliders">Reset</button>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>