<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Select Rows</h3>
</div>

<div class="modal-body row-fluid">
    <input class="row-selector" type="text" placeholder="Type in row label...">
    <ul class="selected-rows well nav navlist"></ul>
</div>

<div class="modal-footer">
    <button class="btn rows-select">Apply</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
