<div class="row">
    <div class="span8">
        <div id="pubcrawl-network-container"></div>
    </div>
</div>
<div class="row">
    <div class="span8">
        <div id="pubcrawl-table-container" ></div>
    </div>
</div>
