<div id="pubcrawlGraphTabs" class="tabbable tabs-below">
    <div class="tab-content">
        <div id="pubcrawlNetworkView" class="tab-pane active map-contents container-fluid"></div>
        <div id="pubcrawlNodeDetails" class="tab-pane map-contents container-fluid"></div>
        <div id="pubcrawlEdgeDetails" class="tab-pane map-contents container-fluid"></div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pubcrawlNetworkView" onclick="return false;" data-toggle="tab">Graph</a></li>
        <li ><a href="#pubcrawlNodeDetails" onclick="return false;" data-toggle="tab">Node Details</a></li>
        <li ><a href="#pubcrawlEdgeDetails" onclick="return false;" data-toggle="tab">Edge Details</a></li>
    </ul>
</div>