
<select class="subtype-select">

</select>

<div class="feature1-options">
    <select class="featuresource-select"></select>

    <input class="input-small genes-typeahead" type="text" placeholder="gene 1 ...">
    <select style="width: 300px" class="feature-label-select"></select>
</div>

<div class="feature2-options">
    <select class="featuresource-select"></select>

    <input class="input-small genes-typeahead" type="text" placeholder="gene 2 ...">
    <select style="width: 300px" class="feature-label-select"></select>
</div>

<div class="scatterplot-container"></div>
