<div class="row">
    <div class="span8">
        <ul class="nav nav-pills cancer-selector"></ul>
    </div>
</div>

<div class="row">
    <div class="offset1 span2">
        <input class="input-small genes-typeahead-x" type="text" placeholder="Type a gene name (x-axis) ...">
    </div>
    <div class="span2">
        <input class="input-small genes-typeahead-y" type="text" placeholder="Type a gene name (y-axis) ...">
    </div>
</div>

<div class="row">
    <div class="dropdown offset1 span2">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">X-Axis Features <b class="caret"></b></a>
        <ul class="dropdown-menu feature-selector-x"></ul>
    </div>
    <div class="dropdown span2">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">Y-Axis Features <b class="caret"></b></a>
        <ul class="dropdown-menu feature-selector-y"></ul>
    </div>
</div>

<div class="scatterplot-container"></div>
