<ul class="nav nav-pills cancer-selector"></ul>

<div class="row pull-right">
    <div class="span4">
        <input class="input-small genes-typeahead-x" type="text" placeholder="Type a gene name (x-axis) ...">
        <br/>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">X-Axis Features <b class="caret"></b></a>
        <ul class="dropdown-menu feature-selector-x"></ul>
    </div>
    <div class="span4">
        <input class="input-small genes-typeahead-y" type="text" placeholder="Type a gene name (y-axis) ...">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">Y-Axis Features <b class="caret"></b></a>
        <ul class="dropdown-menu feature-selector-y"></ul>
    </div>
</div>

<div class="scatterplot-container"></div>
