<style>
    .data_point {
        stroke-width: 0px;
        shape-rendering: crispEdges;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2.0px;
        shape-rendering: crispEdges;
    }

    .kde_line {
        shape-rendering: none;
        stroke-width: 1.5px;
        visibility: hidden;
    }

    .y.axis path, .y.axis line {
        stroke: #aaa;
    }

    .x.axis path, .x.axis line {
        stroke: none;
    }

    .axis_label, .ticks {
        font-size: 16px;
    }

    .data_totals {
        shape-rendering: crispEdges;
    }

    .data_labels {
        font-size: 18px;
        font-weight: bold;
    }

    .splitiscope {
        width: 540px;
        height: 405px;
    }
</style>

<div class="container">
    <ul class="nav nav-pills cancer-selector-scatterplot"></ul>
    <div class="row">
        <div class="span6 scatterplot-controls well">
            <div class="row">
                <div class="span3">
                    <div class="input-prepend">
                        <span class="add-on">x-axis</span>
                        <input class="input-small genes-typeahead-x span2" type="text" placeholder="Type a gene name (x-axis) ...">
                    </div>
                    <ul class="unstyled feature-selector-x pre-scrollable">Loading features...</ul>
                </div>
                <div class="span3">
                    <div class="input-prepend">
                        <span class="add-on">y-axis</span>
                        <input class="input-small genes-typeahead-y span2" type="text" placeholder="Type a gene name (y-axis) ...">
                    </div>
                    <ul class="unstyled feature-selector-y pre-scrollable">Loading features...</ul>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="scatterplot-container">Loading data...</div>
            <div class="download-container"></div>
        </div>
    </div>
    <a href="#" class="hide-controls hide" onclick="return false;">show axis control</a>
    <a href="#" class="hide-controls" onclick="return false;">hide axis control</a>
</div>