<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4>{{selected_gene}} <b class="caret"></b></h4></a>
    <ul class="dropdown-menu seqpeek-gene-selector"></ul>
</div>
<div class="seqpeek-container"></div>
