<a href="#" onclick="return false;" role="button" data-toggle="modal" data-target=".seqpeek-modal">Controls</a>

<h3 class="gene-title">{{title}}</h3>
<div class="row-fluid">
    <input id="inputTypeahead" class="span2 genes-typeahead" type="text" placeholder="Type a gene name..."/>
    <ul class="span8 offset2 nav nav-pills cancer-selector"></ul>
</div>

<div class="seqpeek-container"></div>

<div class="seqpeek-modal modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Controls</h3>
    </div>
    <div class="modal-body">
        <h5>Scale Width</h5>

        <div class="slider_scale_width"></div>

        <h5>Subtype Width</h5>

        <div class="slider_label_width"></div>
    </div>
    <div class="modal-footer">
        <button class="btn show-labels">Hide Row Labels</button>
        <button class="btn reset-sliders">Reset</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>