<div class="sessions-labeler modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>New Session</h3>
    </div>
    <div class="modal-body">
        <input type="text" class="session-label text ui-widget-content ui-corner-all" placeholder="Enter a label for new session..."/>
    </div>
    <div class="modal-footer">
        <button class="btn save-new-session">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>