<li><a href="#" class="new-session">New...</a></li>
<li><a href="#" class="open-session">Open...</a></li>
<li><a href="#" class="save-session">Save</a></li>
<li class="divider"></li>
<li class="nav-header">Recent...</li>
