<div class="controls-modal modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Controls</h3>
    </div>
    <div class="modal-body">
        <h5>Bar Height</h5>

        <div class="slider_barheight"></div>

        <h5>Row Spacing</h5>

        <div class="slider_rowspacing"></div>

        <h5>Bar Width</h5>

        <div class="slider_barwidth"></div>

        <h5>Bar Spacing</h5>

        <div class="slider_barspacing"></div>

        <h5>Cluster Spacing</h5>

        <div class="slider_clusterspacing"></div>

        <h5>Label Font Size</h5>

        <div class="slider_fontsize"></div>

        <h5>Label Width</h5>

        <div class="slider_label_width"></div>
    </div>
    <div class="modal-footer">
        <button class="btn show-labels">Hide Row Labels</button>
        <button class="btn reset-sliders">Reset</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>