<div class="selector-modal modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Select Cluster and Rows</h3>
    </div>

    <div class="modal-body">
        <input class="cluster-property" type="text" placeholder="Type in feature to cluster data...">
        <br/>
        <button class="btn no-cluster">No Cluster</button>

        <hr/>
        <input class="row-selector" type="text" placeholder="Type in row label...">
        <ul class="selected-rows well nav navlist"></ul>
    </div>

    <div class="modal-footer">
        <button class="btn selector-apply">Apply</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
