<div class="stacksvis-container"></div>

<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#accordion-collapse-bottom-{{id}}">Controls <i class="icon-chevron-down"></i></a>
</div>
<div id="accordion-collapse-bottom-{{id}}" class="accordion-body collapse">
    <div class="accordion-inner">
        <div class="row">
            <div class="span2">Bar Height</div>
            <div class="span4 slider_barheight"></div>
        </div>
        <div class="row">
            <div class="span2">Row Spacing</div>
            <div class="span4 slider_rowspacing"></div>
        </div>
        <div class="row">
            <div class="span2">Bar Width</div>
            <div class="span4 slider_barwidth"></div>
        </div>
        <div class="row">
            <div class="span2">Bar Spacing</div>
            <div class="span4 slider_barspacing"></div>
        </div>
        <div class="row">
            <div class="span2">Cluster Spacing</div>
            <div class="span4 slider_clusterspacing"></div>
        </div>
        <div class="row">
            <div class="span2">Label Font Size</div>
            <div class="span4 slider_fontsize"></div>
        </div>
        <div class="row">
            <div class="span2">Label Width</div>
            <div class="span4 slider_label_width"></div>
        </div>
    </div>
</div>
