    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#homePage" onclick="return false;" id="home">
                <img src="images/isblogo.png" class="imgbrand" alt="QED"> <b>QED</b>
            </a>
            <div class="nav-collapse">
                <ul class="nav nav-pills pull-center">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" onclick="return false;">
                            View <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#graph">graph</a>
                            </li>
                            <li>
                                <a href="#circ">circ</a>
                            </li>
                            <li>
                                <a href="#heat">heat</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" onclick="return false;">
                            Export
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Graph</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class="nav-header">Choose a Format</li>
                                    <li class="divider"></li>
                                    <li><a href="#">png</a></li>
                                    <li><a href="#">svg</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Data</a>
                                 <ul class="dropdown-menu sub-menu">
                                    <li><a href="#">Nodes</a></li>
                                    <li><a href="#">Edges</a></li>
                                    <li><a href="#">Both</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" onclick="return false;">
                            About
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" onclick="return false;">User Guide</a>
                            </li>
                            <li>
                                <a href="" onclick="return false;">Code Project</a>
                            </li>
                            <li>
                                <a href="" onclick="return false;">Funding</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form action="" class="navbar-search pull-left inline-form">
                    <input type="text" id="querySearchTerm" placeholder="Enter Search Term..." class="search-query span3">
                    <button class="btn btn-primary" id="queryBtn"><i class="icon-search icon-white"></i></button>
                </form>
            </div>
            <!--/.nav-collapse --> </div>
    </div>