data_path="/local/path/to/data/files"
client_id="XYZ.apps.googleusercontent.com"
client_secret="XYZ"
client_host="http://localhost:9010"
#authorized_users=["user@systemsbiology.org","user@example.com"]

# Mongo Query Datastores
mongo_datastores=[("ds1", "mongodb://localhost:3001"),("ds2", "mongodb://localhost:3002"),("ds3", "mongodb://localhost:3003")]

# Mongo Storage Datastore
mongo_storage_uri="mongodb://localhost:3032"
mongo_storage_db="storage_db"

# GithubWebHookHandler
github_repo_api_url="https://api.github.com/repos/cancerregulome/OAuthWebServices"
github_project_root="/local/temp/github/MyApp/tip"
github_branches_root="/local/temp/github/MyApp/branches"
github_postproc_cmd="echo"
#github_git_cmd="/usr/bin/git"
github_branches_json_path="/local/temp/github/MyApp/webroot"