configurations_path="/local/path/to/configuration/files"
data_path="/local/path/to/data/files"
client_id="XYZ.apps.googleusercontent.com"
client_secret="XYZ"
client_host="http://gnocchi.systemsbiology.net:3333"
#authorized_users=["user@systemsbiology.org","user@example.com"]
mongo_datastore_uri="mongodb://localhost:3032"
mongo_storage_uri="mongodb://localhost:3032"

# GithubWebHookHandler
github_repo_api_url="https://api.github.com/repos/cancerregulome/OAuthWebServices"
github_project_root="/local/temp/github/MyApp/tip"
github_branches_root="/local/temp/github/MyApp/branches"
github_postproc_cmd="echo"
#github_git_cmd="/usr/bin/git"
github_branches_json_path="/local/temp/github/MyApp/webroot"