<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"/>
    <style>
        kbd {
            padding: 10px 20px 10px 20px;
            display: block;
        }

        #output_region {
            word-wrap: normal;
        }

        .jumbotron {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <ul class="nav nav-pills">
        <li>
            <a href="http://www.systemsbiology.org" target="_blank">
                <img src="https://csacr.systemsbiology.net/staging/genespot/img/isblogo.png"/>
            </a>
        </li>
        <li>
            <h4>Addama | API Console</h4>
            <small><a href="http://www.systemsbiology.org/shmulevich-group" target="_blank">Shmulevich Group</a></small>
            <br/>
            <small><a href="http://www.systemsbiology.org" target="_blank">Institute for Systems Biology</a></small>
            <br/>
            <p><a class="btn btn-primary btn-sm" role="button" href="https://github.com/IlyaLab/Addama/blob/master/APIs.md">API documentation</a></p>
        </li>
    </ul>
    <a href="https://github.com/IlyaLab/Addama" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
             alt="Fork me on GitHub"
             data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h5>Command-line executable example</h5>
            <div class="well">
                <kbd id="curl_region"></kbd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h5>Path</h5>
            <ol class="breadcrumb well"></ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h5>JSON</h5>
            <div class="well">
                <pre id="output_region"></pre>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log("url={{url}}");

    $("#curl_region").html("cmd-prompt> curl " + document.location.href);

    $(".breadcrumb").empty();
    $(".breadcrumb").append("<li><a href='/'>$root</a></li>");

    var breadcrumb_href = "";
    var parts = _.compact("{{url}}".split("/"));
    _.each(parts, function(part, idx) {
        if (!_.isEqual(breadcrumb_href, "/")) breadcrumb_href += "/";
        breadcrumb_href += part;

        console.log("part=" + part + "," + idx + ":" + breadcrumb_href);
        if (_.isEqual(idx + 1, parts.length)) {
            $(".breadcrumb").append("<li class='active'>" + part + "</li>");
        } else {
            $(".breadcrumb").append("<li><a href='" + breadcrumb_href + "'>" + part + "</a></li>");
        }
    });

    var __uris2hrefs = function(item) {
        if (_.has(item, "uri")) {
            var uri = item["uri"];
            item["uri"] = "<a href='" + uri + "'>" + uri + "</a>";
        }
    };

    var __display_json = function(data) {
        $("#output_region").html(JSON.stringify(data, undefined, 2));
    };

    $.ajax({
        "method": "get",
        "url": "{{url}}",
        "headers": {
            "Accept": "application/json"
        },
        "cache": false,
        "success": function(data) {
            if (_.isArray(data)) {
                _.each(data, __uris2hrefs);
                __display_json(data);

            } else if (_.isObject(data)) {
                __uris2hrefs(data);
                __display_json(data);

            } else if (_.isString(data)) {
                data = JSON.parse(data);
                _.each(data, function(item) {
                    if (_.isArray(item)) {
                        _.each(item, __uris2hrefs);
                    }
                    __uris2hrefs(item);
                });
                __uris2hrefs(data);
                __display_json(data);
            }

            $(".data_link").click(function(e) {
                var $data_link = $(e.target);
                document.location = $data_link.data("url");
            });
        }
    });
</script>
</body>
</html>